/*estrutura do site*/

*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;   
}

/*configuração básica do header*/
#container {
    width: 750px;
    margin: 0 auto;
}

/*configuração básica do conteúdo da página*/
#conteudo {
    background: #f5f5f5;
    margin-top: 60px;
}

/*configuração básica do conteúdo do rodape*/
#container-rodape {
    background: #294c71;
    padding: 20px;
}

/*formatação dos cabeçalhos*/

h3 {
    text-transform: uppercase;
    display: inline;
    font-size: 0.8em;
    padding: 3px;
}

.destaques h3 {
    background: #b10333;
    color: #fff;
}