#lateral {
    width: 180px;
    float: left;
    margin: 0 0 20px -750px;
    /*background: yellow;*/
}

/*caixa de conteúdo*/

.caixa {
    margin: 10px 0;
    padding: 5px 0 5px 0;
    background: #f3f3f3 url(../../imagens/fundo-caixa.png);
    
}

.caixa h2 {
    font-size: 1em;
    background: #294c71;
    color: #fff;
    padding: 5px;
}

.caixa-conteudo {
    background: #fff;
    padding: 5px;
    margin-top: 5px;
}

/*estilos dos links*/

#lateral ul a {
    font-size: 0.9em;
    padding: 3px;
    display: block;
    line-height: 30px;
    color: #000;
    text-decoration: none;
    border-bottom: 1px solid #f3f3f3;

}

#lateral ul a:hover {
    background: #f9f9f9 url(../..//imagens/marcador.png) no-repeat left center;
    padding-left: 20px;
    color: #a1a1a1;
} 

/*estilos formulário*/

label {
    display: block;
    cursor: pointer;
}

input {
    padding: 5px;
    width: 125px;
    font-size: 0.9em;
    background-color: #fff;
}

input.submit {
    width: 80px;
    color: #fff;
    background-color: #b10333;
    border: 2px solid #870529;
    padding: 5px;
}

